<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_0a8651c23c4a430d87801de4a1769121 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0a8651c23c4a430d87801de4a1769121" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_0a8651c23c4a430d87801de4a1769121 = L.map(
                                  'map_0a8651c23c4a430d87801de4a1769121',
                                  {center: [50.503887,4.469936],
                                  zoom: 12,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_543b43889f01468a8e4852e2451ad69f = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null, 
  "detectRetina": false, 
  "maxZoom": 18, 
  "minZoom": 1, 
  "noWrap": false, 
  "subdomains": "abc"
}
                ).addTo(map_0a8651c23c4a430d87801de4a1769121);
        
    

            var marker_7b1ddb670c724b208403bd51c7fa89a8 = L.marker(
                [50.5140781,4.5799117],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_0a8651c23c4a430d87801de4a1769121);
            
    

                var icon_f5e35b7e081642d4921fb001312b143d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7b1ddb670c724b208403bd51c7fa89a8.setIcon(icon_f5e35b7e081642d4921fb001312b143d);
            
    
            var popup_0412bffb33c94ab9ae483af25c54fe2f = L.popup({maxWidth: '300'});

            
                var html_c1bf8075d0cc48af9eb24253186b0d8d = $('<div id="html_c1bf8075d0cc48af9eb24253186b0d8d" style="width: 100.0%; height: 100.0%;">Centre Général Gérard LIGNY</div>')[0];
                popup_0412bffb33c94ab9ae483af25c54fe2f.setContent(html_c1bf8075d0cc48af9eb24253186b0d8d);
            

            marker_7b1ddb670c724b208403bd51c7fa89a8.bindPopup(popup_0412bffb33c94ab9ae483af25c54fe2f);

            
        
    

            var marker_24a773b3e25c4f92b3233fd352a6003c = L.marker(
                [50.4166996,4.4463786],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_0a8651c23c4a430d87801de4a1769121);
            
    

                var icon_0b93e79382444e66be282d7f01746c5a = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_24a773b3e25c4f92b3233fd352a6003c.setIcon(icon_0b93e79382444e66be282d7f01746c5a);
            
    
            var popup_d57f24b6da354a2196f6229025aac03c = L.popup({maxWidth: '300'});

            
                var html_f876184270d04013a1bdc198815156df = $('<div id="html_f876184270d04013a1bdc198815156df" style="width: 100.0%; height: 100.0%;">BPS22</div>')[0];
                popup_d57f24b6da354a2196f6229025aac03c.setContent(html_f876184270d04013a1bdc198815156df);
            

            marker_24a773b3e25c4f92b3233fd352a6003c.bindPopup(popup_d57f24b6da354a2196f6229025aac03c);

            
        
    

            var marker_cd34a53f3c93460aa1751c9101b040e9 = L.marker(
                [50.5389247,4.4125046],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_0a8651c23c4a430d87801de4a1769121);
            
    

                var icon_6cc492159b4141fcaace16aa5594f2b3 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_cd34a53f3c93460aa1751c9101b040e9.setIcon(icon_6cc492159b4141fcaace16aa5594f2b3);
            
    
            var popup_d057116154c2400ebd4b4feff4d8ccd2 = L.popup({maxWidth: '300'});

            
                var html_d9739e62c3d6458da0584a4272c9fb01 = $('<div id="html_d9739e62c3d6458da0584a4272c9fb01" style="width: 100.0%; height: 100.0%;">Cercle Historique et Archéologique Rodava Asbl</div>')[0];
                popup_d057116154c2400ebd4b4feff4d8ccd2.setContent(html_d9739e62c3d6458da0584a4272c9fb01);
            

            marker_cd34a53f3c93460aa1751c9101b040e9.bindPopup(popup_d057116154c2400ebd4b4feff4d8ccd2);

            
        
    

            var marker_7f9b29f106f84515ad5a22d49e6edd6e = L.marker(
                [50.4761605,4.5814168],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_0a8651c23c4a430d87801de4a1769121);
            
    

                var icon_f7e94d10d1774d46903458580d0f70b4 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7f9b29f106f84515ad5a22d49e6edd6e.setIcon(icon_f7e94d10d1774d46903458580d0f70b4);
            
    
            var popup_72ed3d86e1024674a2f325a770d90c67 = L.popup({maxWidth: '300'});

            
                var html_3496fa71ef534b39bdee75a9dfbd9768 = $('<div id="html_3496fa71ef534b39bdee75a9dfbd9768" style="width: 100.0%; height: 100.0%;">Cimetière de Wanfercée-Baulet</div>')[0];
                popup_72ed3d86e1024674a2f325a770d90c67.setContent(html_3496fa71ef534b39bdee75a9dfbd9768);
            

            marker_7f9b29f106f84515ad5a22d49e6edd6e.bindPopup(popup_72ed3d86e1024674a2f325a770d90c67);

            
        
    

            var marker_a509aea8af2f41b6926c41581f25e3a1 = L.marker(
                [50.434348,4.5383012],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_0a8651c23c4a430d87801de4a1769121);
            
    

                var icon_f158555271964eff8a34953570469096 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a509aea8af2f41b6926c41581f25e3a1.setIcon(icon_f158555271964eff8a34953570469096);
            
    
            var popup_905d8e8530654a2b8d2f6ed02460eae8 = L.popup({maxWidth: '300'});

            
                var html_6ecb7be464784559b7ddd5df7b8e925c = $('<div id="html_6ecb7be464784559b7ddd5df7b8e925c" style="width: 100.0%; height: 100.0%;">charbonnage du roton</div>')[0];
                popup_905d8e8530654a2b8d2f6ed02460eae8.setContent(html_6ecb7be464784559b7ddd5df7b8e925c);
            

            marker_a509aea8af2f41b6926c41581f25e3a1.bindPopup(popup_905d8e8530654a2b8d2f6ed02460eae8);

            
        
</script>