<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_88d77c33214e4c30ad732b58e938a1ff {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_88d77c33214e4c30ad732b58e938a1ff" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_88d77c33214e4c30ad732b58e938a1ff = L.map(
                                  'map_88d77c33214e4c30ad732b58e938a1ff',
                                  {center: [40.463667,-3.74922],
                                  zoom: 12,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_5e2beee80e864c66bcd046364bf7d08e = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null, 
  "detectRetina": false, 
  "maxZoom": 18, 
  "minZoom": 1, 
  "noWrap": false, 
  "subdomains": "abc"
}
                ).addTo(map_88d77c33214e4c30ad732b58e938a1ff);
        
    

            var marker_a2c5b390893848f58a947eded3138876 = L.marker(
                [40.4167754,-3.7037902],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_0ccd3c523e234acab905e350e1b47f51 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a2c5b390893848f58a947eded3138876.setIcon(icon_0ccd3c523e234acab905e350e1b47f51);
            
    
            var popup_50991d82166c4ca49ca267fc9ca717e2 = L.popup({maxWidth: '300'});

            
                var html_abf263075d614172ae21de7bd8cdec5b = $('<div id="html_abf263075d614172ae21de7bd8cdec5b" style="width: 100.0%; height: 100.0%;">Madrid</div>')[0];
                popup_50991d82166c4ca49ca267fc9ca717e2.setContent(html_abf263075d614172ae21de7bd8cdec5b);
            

            marker_a2c5b390893848f58a947eded3138876.bindPopup(popup_50991d82166c4ca49ca267fc9ca717e2);

            
        
    

            var marker_6fcb3d0896284454a48b6cdb92b9b04d = L.marker(
                [40.448906,-3.711448],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_dfe9c6fe969b40c289b4bc7f706a99fe = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6fcb3d0896284454a48b6cdb92b9b04d.setIcon(icon_dfe9c6fe969b40c289b4bc7f706a99fe);
            
    
            var popup_aa17f88b0a7649a48a376ddf0baf9080 = L.popup({maxWidth: '300'});

            
                var html_a1492dfcc606447ba4e90cbfac04f39d = $('<div id="html_a1492dfcc606447ba4e90cbfac04f39d" style="width: 100.0%; height: 100.0%;">AC Hotel by Marriott Los Vascos</div>')[0];
                popup_aa17f88b0a7649a48a376ddf0baf9080.setContent(html_a1492dfcc606447ba4e90cbfac04f39d);
            

            marker_6fcb3d0896284454a48b6cdb92b9b04d.bindPopup(popup_aa17f88b0a7649a48a376ddf0baf9080);

            
        
    

            var marker_6653578e4fda4bf089ebd574bcb8d120 = L.marker(
                [40.447262,-3.705863],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_a2fb03ac108149f5910f5428c79ff5a2 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6653578e4fda4bf089ebd574bcb8d120.setIcon(icon_a2fb03ac108149f5910f5428c79ff5a2);
            
    
            var popup_f3a7c84142594588bcdffab2305ceaa1 = L.popup({maxWidth: '300'});

            
                var html_7ffb7a012611465f9f0ec614df140ca1 = $('<div id="html_7ffb7a012611465f9f0ec614df140ca1" style="width: 100.0%; height: 100.0%;">Hotel VP Jardín Metropolitano</div>')[0];
                popup_f3a7c84142594588bcdffab2305ceaa1.setContent(html_7ffb7a012611465f9f0ec614df140ca1);
            

            marker_6653578e4fda4bf089ebd574bcb8d120.bindPopup(popup_f3a7c84142594588bcdffab2305ceaa1);

            
        
    

            var marker_aa29e95666b143b4a0f25392c459fd2b = L.marker(
                [40.458023,-3.698644],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_3237264dcbfd4c54a6c032388caa6d91 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_aa29e95666b143b4a0f25392c459fd2b.setIcon(icon_3237264dcbfd4c54a6c032388caa6d91);
            
    
            var popup_91e1d8ff9fe443cc846953d12d9e3cc9 = L.popup({maxWidth: '300'});

            
                var html_80e73a61cdc043199e8c092a3bcf1478 = $('<div id="html_80e73a61cdc043199e8c092a3bcf1478" style="width: 100.0%; height: 100.0%;">Hotel Infanta Mercedes</div>')[0];
                popup_91e1d8ff9fe443cc846953d12d9e3cc9.setContent(html_80e73a61cdc043199e8c092a3bcf1478);
            

            marker_aa29e95666b143b4a0f25392c459fd2b.bindPopup(popup_91e1d8ff9fe443cc846953d12d9e3cc9);

            
        
    

            var marker_2fcf4f3a6d5d4f43a3b19a69fef194c1 = L.marker(
                [40.4678108,-3.8007036],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_bfb95312d0484d2dae3d9d9d7961828f = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2fcf4f3a6d5d4f43a3b19a69fef194c1.setIcon(icon_bfb95312d0484d2dae3d9d9d7961828f);
            
    
            var popup_f11026bd285941419722e230423e74f9 = L.popup({maxWidth: '300'});

            
                var html_269df19b5fb1468b91b8f09ffed52a24 = $('<div id="html_269df19b5fb1468b91b8f09ffed52a24" style="width: 100.0%; height: 100.0%;">NH La Florida Aparthotel</div>')[0];
                popup_f11026bd285941419722e230423e74f9.setContent(html_269df19b5fb1468b91b8f09ffed52a24);
            

            marker_2fcf4f3a6d5d4f43a3b19a69fef194c1.bindPopup(popup_f11026bd285941419722e230423e74f9);

            
        
    

            var marker_ff529fff15d641b3b2081f7c2dc818fc = L.marker(
                [40.4372439,-3.7085656],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_38d342a42a7c43359f1eac7437ab1cbb = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ff529fff15d641b3b2081f7c2dc818fc.setIcon(icon_38d342a42a7c43359f1eac7437ab1cbb);
            
    
            var popup_2ce1bbcb157f4ddabc328cc0dc7ac252 = L.popup({maxWidth: '300'});

            
                var html_4d3988cc4ae54a65981bd2ca9367a351 = $('<div id="html_4d3988cc4ae54a65981bd2ca9367a351" style="width: 100.0%; height: 100.0%;">Leonardo Boutique Hotel Madrid</div>')[0];
                popup_2ce1bbcb157f4ddabc328cc0dc7ac252.setContent(html_4d3988cc4ae54a65981bd2ca9367a351);
            

            marker_ff529fff15d641b3b2081f7c2dc818fc.bindPopup(popup_2ce1bbcb157f4ddabc328cc0dc7ac252);

            
        
    

            var marker_0ade8647e22a477eb566a852a8d28b0f = L.marker(
                [40.4504349,-3.6981041],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_3b7282e47f6c4d078c5fcac4e0195ec8 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0ade8647e22a477eb566a852a8d28b0f.setIcon(icon_3b7282e47f6c4d078c5fcac4e0195ec8);
            
    
            var popup_b6205022f0384af7a50a2c3bf295cf0b = L.popup({maxWidth: '300'});

            
                var html_c881ad40ea0c428baeee191c860248af = $('<div id="html_c881ad40ea0c428baeee191c860248af" style="width: 100.0%; height: 100.0%;">Hotel Gran Atlanta</div>')[0];
                popup_b6205022f0384af7a50a2c3bf295cf0b.setContent(html_c881ad40ea0c428baeee191c860248af);
            

            marker_0ade8647e22a477eb566a852a8d28b0f.bindPopup(popup_b6205022f0384af7a50a2c3bf295cf0b);

            
        
    

            var marker_31ff3360abf343d59a54317843adc07e = L.marker(
                [40.4306768,-3.7168152],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_dff2498319e34521a8a7dc26bd2e82c5 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_31ff3360abf343d59a54317843adc07e.setIcon(icon_dff2498319e34521a8a7dc26bd2e82c5);
            
    
            var popup_757cb8ded86041aa9d96fcd34cd0edfe = L.popup({maxWidth: '300'});

            
                var html_bcdc76a564c549838afa0ab77d8c9a3d = $('<div id="html_bcdc76a564c549838afa0ab77d8c9a3d" style="width: 100.0%; height: 100.0%;">Hotel T3 Tirol</div>')[0];
                popup_757cb8ded86041aa9d96fcd34cd0edfe.setContent(html_bcdc76a564c549838afa0ab77d8c9a3d);
            

            marker_31ff3360abf343d59a54317843adc07e.bindPopup(popup_757cb8ded86041aa9d96fcd34cd0edfe);

            
        
    

            var marker_f9124668bc904887ba95766d42bd21e7 = L.marker(
                [40.429225,-3.716675],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_6771c3706b4c4d0bacdb383f93968fcb = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f9124668bc904887ba95766d42bd21e7.setIcon(icon_6771c3706b4c4d0bacdb383f93968fcb);
            
    
            var popup_73e99c9ab3244765bc2291c920c57b5c = L.popup({maxWidth: '300'});

            
                var html_80fcaa252c394fd1b66d3b99567437b4 = $('<div id="html_80fcaa252c394fd1b66d3b99567437b4" style="width: 100.0%; height: 100.0%;">Aparto Suites Muralto</div>')[0];
                popup_73e99c9ab3244765bc2291c920c57b5c.setContent(html_80fcaa252c394fd1b66d3b99567437b4);
            

            marker_f9124668bc904887ba95766d42bd21e7.bindPopup(popup_73e99c9ab3244765bc2291c920c57b5c);

            
        
    

            var marker_5cc91df7c8a94e3bbc5ed1103ee76983 = L.marker(
                [40.455256,-3.694294],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_ff5fc71d57d44ec6b9169ae228489777 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5cc91df7c8a94e3bbc5ed1103ee76983.setIcon(icon_ff5fc71d57d44ec6b9169ae228489777);
            
    
            var popup_7369f4a5d0e54651acf0088031cc8675 = L.popup({maxWidth: '300'});

            
                var html_f82e8700adb5444a9044262011ec2fed = $('<div id="html_f82e8700adb5444a9044262011ec2fed" style="width: 100.0%; height: 100.0%;">H10 Tribeca</div>')[0];
                popup_7369f4a5d0e54651acf0088031cc8675.setContent(html_f82e8700adb5444a9044262011ec2fed);
            

            marker_5cc91df7c8a94e3bbc5ed1103ee76983.bindPopup(popup_7369f4a5d0e54651acf0088031cc8675);

            
        
    

            var marker_2d8738ebcb92447ab4df00bfd99b564b = L.marker(
                [40.4614762,-3.6922645],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_d2e447c58c2c49f590dc2e038984a5a3 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2d8738ebcb92447ab4df00bfd99b564b.setIcon(icon_d2e447c58c2c49f590dc2e038984a5a3);
            
    
            var popup_6364967fba374133a104419d08dc53b0 = L.popup({maxWidth: '300'});

            
                var html_b5cc2b0989914d5086c3f1bbeea67af7 = $('<div id="html_b5cc2b0989914d5086c3f1bbeea67af7" style="width: 100.0%; height: 100.0%;">Meliá Castilla</div>')[0];
                popup_6364967fba374133a104419d08dc53b0.setContent(html_b5cc2b0989914d5086c3f1bbeea67af7);
            

            marker_2d8738ebcb92447ab4df00bfd99b564b.bindPopup(popup_6364967fba374133a104419d08dc53b0);

            
        
    

            var marker_b9c58ede7344407e9da22e4ae0acde4b = L.marker(
                [40.451385,-3.693571],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_a57af7a560fd4ce5847e90970da9ce7d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b9c58ede7344407e9da22e4ae0acde4b.setIcon(icon_a57af7a560fd4ce5847e90970da9ce7d);
            
    
            var popup_7cc13e73f53a42bcbc1e90da82983fe9 = L.popup({maxWidth: '300'});

            
                var html_96179271c3e9433c92c32478814a83bd = $('<div id="html_96179271c3e9433c92c32478814a83bd" style="width: 100.0%; height: 100.0%;">Holiday Inn Madrid - Bernabeu</div>')[0];
                popup_7cc13e73f53a42bcbc1e90da82983fe9.setContent(html_96179271c3e9433c92c32478814a83bd);
            

            marker_b9c58ede7344407e9da22e4ae0acde4b.bindPopup(popup_7cc13e73f53a42bcbc1e90da82983fe9);

            
        
    

            var marker_c3015cbe17614359aeafa0b30e61a96d = L.marker(
                [40.458774,-3.690931],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_b059cff457a243ce9711f470f85b2e12 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c3015cbe17614359aeafa0b30e61a96d.setIcon(icon_b059cff457a243ce9711f470f85b2e12);
            
    
            var popup_d76c82c6f01642fbaab8d9c3b039678c = L.popup({maxWidth: '300'});

            
                var html_d0ae35ad20fb468483e7098191c8388f = $('<div id="html_d0ae35ad20fb468483e7098191c8388f" style="width: 100.0%; height: 100.0%;">AC Hotel by Marriott Cuzco</div>')[0];
                popup_d76c82c6f01642fbaab8d9c3b039678c.setContent(html_d0ae35ad20fb468483e7098191c8388f);
            

            marker_c3015cbe17614359aeafa0b30e61a96d.bindPopup(popup_d76c82c6f01642fbaab8d9c3b039678c);

            
        
    

            var marker_a54963b4f98e44dd8c5bf48d84972de8 = L.marker(
                [40.4383468,-3.7008489],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_dcda444466044edfaa1f739ea1a9b02a = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a54963b4f98e44dd8c5bf48d84972de8.setIcon(icon_dcda444466044edfaa1f739ea1a9b02a);
            
    
            var popup_419288f57e40403ba5b9373454a8dc62 = L.popup({maxWidth: '300'});

            
                var html_abc0315ad45e476394ce5cad13cd1aeb = $('<div id="html_abc0315ad45e476394ce5cad13cd1aeb" style="width: 100.0%; height: 100.0%;">Tryp Madrid Chamberí</div>')[0];
                popup_419288f57e40403ba5b9373454a8dc62.setContent(html_abc0315ad45e476394ce5cad13cd1aeb);
            

            marker_a54963b4f98e44dd8c5bf48d84972de8.bindPopup(popup_419288f57e40403ba5b9373454a8dc62);

            
        
    

            var marker_f59530a5a24e45c1958c732f7016fbcb = L.marker(
                [40.4307691,-3.7077407],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_10f47c6a3a534456a62b8f8f45d230b0 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f59530a5a24e45c1958c732f7016fbcb.setIcon(icon_10f47c6a3a534456a62b8f8f45d230b0);
            
    
            var popup_ed7b50fdd64749699860021fdcad922c = L.popup({maxWidth: '300'});

            
                var html_f2f44651200e4e58b7c5d4084b32dffe = $('<div id="html_f2f44651200e4e58b7c5d4084b32dffe" style="width: 100.0%; height: 100.0%;">Sercotel Gran Hotel Conde Duque</div>')[0];
                popup_ed7b50fdd64749699860021fdcad922c.setContent(html_f2f44651200e4e58b7c5d4084b32dffe);
            

            marker_f59530a5a24e45c1958c732f7016fbcb.bindPopup(popup_ed7b50fdd64749699860021fdcad922c);

            
        
    

            var marker_ffc0c0c3e2a44b2da3cd0ff604f4b4a8 = L.marker(
                [40.4558636,-3.6896836],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_c5755146385d42bfbb82e74a1512619a = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ffc0c0c3e2a44b2da3cd0ff604f4b4a8.setIcon(icon_c5755146385d42bfbb82e74a1512619a);
            
    
            var popup_2d2c806b14da4df8b08b586fb6265be6 = L.popup({maxWidth: '300'});

            
                var html_c0cafcdfdc164c7c82973f3e976a803a = $('<div id="html_c0cafcdfdc164c7c82973f3e976a803a" style="width: 100.0%; height: 100.0%;">AC Hotel by Marriott Aitana</div>')[0];
                popup_2d2c806b14da4df8b08b586fb6265be6.setContent(html_c0cafcdfdc164c7c82973f3e976a803a);
            

            marker_ffc0c0c3e2a44b2da3cd0ff604f4b4a8.bindPopup(popup_2d2c806b14da4df8b08b586fb6265be6);

            
        
    

            var marker_fcd1980a3f6444f3a0367744bfd16c6e = L.marker(
                [40.424743,-3.714908],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_156e44fba84947a5a97a37953a9ec32c = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fcd1980a3f6444f3a0367744bfd16c6e.setIcon(icon_156e44fba84947a5a97a37953a9ec32c);
            
    
            var popup_8d2eba0c4dd241449ee29a6e1530f378 = L.popup({maxWidth: '300'});

            
                var html_9d32b553f10544a7842c33e9b3318149 = $('<div id="html_9d32b553f10544a7842c33e9b3318149" style="width: 100.0%; height: 100.0%;">Sercotel Suites Viena</div>')[0];
                popup_8d2eba0c4dd241449ee29a6e1530f378.setContent(html_9d32b553f10544a7842c33e9b3318149);
            

            marker_fcd1980a3f6444f3a0367744bfd16c6e.bindPopup(popup_8d2eba0c4dd241449ee29a6e1530f378);

            
        
    

            var marker_39088061b4e34980b0d037f776c7fd5a = L.marker(
                [40.420992,-3.721278],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_c0d406d636924f9791ef1e6efcda5864 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_39088061b4e34980b0d037f776c7fd5a.setIcon(icon_c0d406d636924f9791ef1e6efcda5864);
            
    
            var popup_e0db09415e084ac48ac0ae0b15e6d8ea = L.popup({maxWidth: '300'});

            
                var html_c9a27d5eb4d24a7a858876d95055dfbe = $('<div id="html_c9a27d5eb4d24a7a858876d95055dfbe" style="width: 100.0%; height: 100.0%;">Hotel City House Florida Norte</div>')[0];
                popup_e0db09415e084ac48ac0ae0b15e6d8ea.setContent(html_c9a27d5eb4d24a7a858876d95055dfbe);
            

            marker_39088061b4e34980b0d037f776c7fd5a.bindPopup(popup_e0db09415e084ac48ac0ae0b15e6d8ea);

            
        
    

            var marker_2599030961d64244a291db5d5c6daa6c = L.marker(
                [40.4383825,-3.695182],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_874e56b7d87c4eb29c966f12b35cf92c = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2599030961d64244a291db5d5c6daa6c.setIcon(icon_874e56b7d87c4eb29c966f12b35cf92c);
            
    
            var popup_49953610673c4dc18ab71b72a84965e8 = L.popup({maxWidth: '300'});

            
                var html_22a3f131e91640fa875bb4f11dd1ab4d = $('<div id="html_22a3f131e91640fa875bb4f11dd1ab4d" style="width: 100.0%; height: 100.0%;">NH Collection Madrid Abascal Hotel</div>')[0];
                popup_49953610673c4dc18ab71b72a84965e8.setContent(html_22a3f131e91640fa875bb4f11dd1ab4d);
            

            marker_2599030961d64244a291db5d5c6daa6c.bindPopup(popup_49953610673c4dc18ab71b72a84965e8);

            
        
    

            var marker_bd34825247974d4e989c1bf5510e0fb6 = L.marker(
                [40.4115165,-3.7076445],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_88d77c33214e4c30ad732b58e938a1ff);
            
    

                var icon_c380bf6169c24437b217d4067f6df404 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_bd34825247974d4e989c1bf5510e0fb6.setIcon(icon_c380bf6169c24437b217d4067f6df404);
            
    
            var popup_e76d669e95df4e0db89ce387a253e4ea = L.popup({maxWidth: '300'});

            
                var html_4b0960dcfa5742b1a13f0d901ec2bc90 = $('<div id="html_4b0960dcfa5742b1a13f0d901ec2bc90" style="width: 100.0%; height: 100.0%;">Centro</div>')[0];
                popup_e76d669e95df4e0db89ce387a253e4ea.setContent(html_4b0960dcfa5742b1a13f0d901ec2bc90);
            

            marker_bd34825247974d4e989c1bf5510e0fb6.bindPopup(popup_e76d669e95df4e0db89ce387a253e4ea);

            
        
</script>