<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_a2b204e6486f41b39121b255d8d6980e {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a2b204e6486f41b39121b255d8d6980e" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_a2b204e6486f41b39121b255d8d6980e = L.map(
                                  'map_a2b204e6486f41b39121b255d8d6980e',
                                  {center: [40.463667,-3.74922],
                                  zoom: 12,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_5dfe529d3b8944b39d4a855f6f6f294d = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null, 
  "detectRetina": false, 
  "maxZoom": 18, 
  "minZoom": 1, 
  "noWrap": false, 
  "subdomains": "abc"
}
                ).addTo(map_a2b204e6486f41b39121b255d8d6980e);
        
    

            var marker_af802d37a60145c18189cbef31cc718f = L.marker(
                [40.4167754,-3.7037902],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_d0db7e3d5c0444eeada94b179bd4a3af = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_af802d37a60145c18189cbef31cc718f.setIcon(icon_d0db7e3d5c0444eeada94b179bd4a3af);
            
    
            var popup_ea73500443e241ab8615fb3879c7522c = L.popup({maxWidth: '300'});

            
                var html_00a6025bfa9844f7aae996dd46aacb53 = $('<div id="html_00a6025bfa9844f7aae996dd46aacb53" style="width: 100.0%; height: 100.0%;">Madrid</div>')[0];
                popup_ea73500443e241ab8615fb3879c7522c.setContent(html_00a6025bfa9844f7aae996dd46aacb53);
            

            marker_af802d37a60145c18189cbef31cc718f.bindPopup(popup_ea73500443e241ab8615fb3879c7522c);

            
        
    

            var marker_e483f8dbb425400fb82634a32d26b37a = L.marker(
                [40.448906,-3.711448],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_9667bbf6c99341cd8627d33a8e7186e3 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e483f8dbb425400fb82634a32d26b37a.setIcon(icon_9667bbf6c99341cd8627d33a8e7186e3);
            
    
            var popup_7ed79613b5524baab948257a66a041e7 = L.popup({maxWidth: '300'});

            
                var html_7c7c77c52378461f99a9e416eea4fffc = $('<div id="html_7c7c77c52378461f99a9e416eea4fffc" style="width: 100.0%; height: 100.0%;">AC Hotel by Marriott Los Vascos</div>')[0];
                popup_7ed79613b5524baab948257a66a041e7.setContent(html_7c7c77c52378461f99a9e416eea4fffc);
            

            marker_e483f8dbb425400fb82634a32d26b37a.bindPopup(popup_7ed79613b5524baab948257a66a041e7);

            
        
    

            var marker_113f0350a52847b0badc2eebf55973ed = L.marker(
                [40.447262,-3.705863],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_fe6d7b077bc5471cae0f2cfdf43abf0c = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_113f0350a52847b0badc2eebf55973ed.setIcon(icon_fe6d7b077bc5471cae0f2cfdf43abf0c);
            
    
            var popup_e5a38dcc474f41c6a96d754066059ac1 = L.popup({maxWidth: '300'});

            
                var html_1e0f96b98889430f9c7c2b8d9704af4a = $('<div id="html_1e0f96b98889430f9c7c2b8d9704af4a" style="width: 100.0%; height: 100.0%;">Hotel VP Jardín Metropolitano</div>')[0];
                popup_e5a38dcc474f41c6a96d754066059ac1.setContent(html_1e0f96b98889430f9c7c2b8d9704af4a);
            

            marker_113f0350a52847b0badc2eebf55973ed.bindPopup(popup_e5a38dcc474f41c6a96d754066059ac1);

            
        
    

            var marker_15738295e4d8462699ffa45020681a48 = L.marker(
                [40.458023,-3.698644],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_724522b6ca8643199fe0b1b088bd9143 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_15738295e4d8462699ffa45020681a48.setIcon(icon_724522b6ca8643199fe0b1b088bd9143);
            
    
            var popup_6d728b5361194c83a6e8eeaf755ad315 = L.popup({maxWidth: '300'});

            
                var html_40a17b0c4566495db1503d8811abe493 = $('<div id="html_40a17b0c4566495db1503d8811abe493" style="width: 100.0%; height: 100.0%;">Hotel Infanta Mercedes</div>')[0];
                popup_6d728b5361194c83a6e8eeaf755ad315.setContent(html_40a17b0c4566495db1503d8811abe493);
            

            marker_15738295e4d8462699ffa45020681a48.bindPopup(popup_6d728b5361194c83a6e8eeaf755ad315);

            
        
    

            var marker_4e3b3c72b344484abb2773ab6dc924a0 = L.marker(
                [40.4678108,-3.8007036],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_e8246480906945e2a8693a60bcb60544 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_4e3b3c72b344484abb2773ab6dc924a0.setIcon(icon_e8246480906945e2a8693a60bcb60544);
            
    
            var popup_3f4a944f53fe45488b319fee7d2d128e = L.popup({maxWidth: '300'});

            
                var html_54dddb281887427db5b42f3e2c4f8323 = $('<div id="html_54dddb281887427db5b42f3e2c4f8323" style="width: 100.0%; height: 100.0%;">NH La Florida Aparthotel</div>')[0];
                popup_3f4a944f53fe45488b319fee7d2d128e.setContent(html_54dddb281887427db5b42f3e2c4f8323);
            

            marker_4e3b3c72b344484abb2773ab6dc924a0.bindPopup(popup_3f4a944f53fe45488b319fee7d2d128e);

            
        
    

            var marker_1a888051f12e4a8c8a584708f3dc37ef = L.marker(
                [40.4372439,-3.7085656],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_5f21f3cf8ce44559b38ef9c2c605acfd = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1a888051f12e4a8c8a584708f3dc37ef.setIcon(icon_5f21f3cf8ce44559b38ef9c2c605acfd);
            
    
            var popup_4ada3defd2554a079f8b578fe77f8998 = L.popup({maxWidth: '300'});

            
                var html_50f550be195541ddb0c230a124af0747 = $('<div id="html_50f550be195541ddb0c230a124af0747" style="width: 100.0%; height: 100.0%;">Leonardo Boutique Hotel Madrid</div>')[0];
                popup_4ada3defd2554a079f8b578fe77f8998.setContent(html_50f550be195541ddb0c230a124af0747);
            

            marker_1a888051f12e4a8c8a584708f3dc37ef.bindPopup(popup_4ada3defd2554a079f8b578fe77f8998);

            
        
    

            var marker_22fedb4977824eb1a747b75d2d8341a2 = L.marker(
                [40.4504349,-3.6981041],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_148d1da893544d4190de761633c7432a = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_22fedb4977824eb1a747b75d2d8341a2.setIcon(icon_148d1da893544d4190de761633c7432a);
            
    
            var popup_a8cb354e6310443d983c24291a425921 = L.popup({maxWidth: '300'});

            
                var html_26cbcb534c5c4ecab912c308cd8417a0 = $('<div id="html_26cbcb534c5c4ecab912c308cd8417a0" style="width: 100.0%; height: 100.0%;">Hotel Gran Atlanta</div>')[0];
                popup_a8cb354e6310443d983c24291a425921.setContent(html_26cbcb534c5c4ecab912c308cd8417a0);
            

            marker_22fedb4977824eb1a747b75d2d8341a2.bindPopup(popup_a8cb354e6310443d983c24291a425921);

            
        
    

            var marker_e5a8613d8eb34ce79905ed598fd0088c = L.marker(
                [40.4306768,-3.7168152],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_a68486202fbf4b33afcc0f817d112fd5 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e5a8613d8eb34ce79905ed598fd0088c.setIcon(icon_a68486202fbf4b33afcc0f817d112fd5);
            
    
            var popup_bd401075c11f48aab23eb3ae5a33dbf8 = L.popup({maxWidth: '300'});

            
                var html_50822403b348418b9a5f03935bde1da2 = $('<div id="html_50822403b348418b9a5f03935bde1da2" style="width: 100.0%; height: 100.0%;">Hotel T3 Tirol</div>')[0];
                popup_bd401075c11f48aab23eb3ae5a33dbf8.setContent(html_50822403b348418b9a5f03935bde1da2);
            

            marker_e5a8613d8eb34ce79905ed598fd0088c.bindPopup(popup_bd401075c11f48aab23eb3ae5a33dbf8);

            
        
    

            var marker_ddc3f6ecc4894558ab6336b7a55ee62f = L.marker(
                [40.429225,-3.716675],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_b1bd6c54d532485196c44e35004a0095 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ddc3f6ecc4894558ab6336b7a55ee62f.setIcon(icon_b1bd6c54d532485196c44e35004a0095);
            
    
            var popup_2286c76953034b258e3dfe9fcfc333d5 = L.popup({maxWidth: '300'});

            
                var html_4531431fff0440c88cdabd1cf8913068 = $('<div id="html_4531431fff0440c88cdabd1cf8913068" style="width: 100.0%; height: 100.0%;">Aparto Suites Muralto</div>')[0];
                popup_2286c76953034b258e3dfe9fcfc333d5.setContent(html_4531431fff0440c88cdabd1cf8913068);
            

            marker_ddc3f6ecc4894558ab6336b7a55ee62f.bindPopup(popup_2286c76953034b258e3dfe9fcfc333d5);

            
        
    

            var marker_a5503645442a48f6853b11d32857173d = L.marker(
                [40.455256,-3.694294],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_8aa8c3027d7f4bf5a74a37587bf793c6 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a5503645442a48f6853b11d32857173d.setIcon(icon_8aa8c3027d7f4bf5a74a37587bf793c6);
            
    
            var popup_e60e5b0555ec4d46985a3c409a66e305 = L.popup({maxWidth: '300'});

            
                var html_df54a86074264c958ddfb9b199a76aed = $('<div id="html_df54a86074264c958ddfb9b199a76aed" style="width: 100.0%; height: 100.0%;">H10 Tribeca</div>')[0];
                popup_e60e5b0555ec4d46985a3c409a66e305.setContent(html_df54a86074264c958ddfb9b199a76aed);
            

            marker_a5503645442a48f6853b11d32857173d.bindPopup(popup_e60e5b0555ec4d46985a3c409a66e305);

            
        
    

            var marker_b6d433d48dae4c2ea6ea52071ad60537 = L.marker(
                [40.4614762,-3.6922645],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_159e3b3f8d9d4c95988506ec2131f26d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b6d433d48dae4c2ea6ea52071ad60537.setIcon(icon_159e3b3f8d9d4c95988506ec2131f26d);
            
    
            var popup_f0fe29a26e5c4ee1a42fe3111d584393 = L.popup({maxWidth: '300'});

            
                var html_43b6873742dd4157a91e9333a0a44a60 = $('<div id="html_43b6873742dd4157a91e9333a0a44a60" style="width: 100.0%; height: 100.0%;">Meliá Castilla</div>')[0];
                popup_f0fe29a26e5c4ee1a42fe3111d584393.setContent(html_43b6873742dd4157a91e9333a0a44a60);
            

            marker_b6d433d48dae4c2ea6ea52071ad60537.bindPopup(popup_f0fe29a26e5c4ee1a42fe3111d584393);

            
        
    

            var marker_09eb5da5e0264cbd977e1fd1dc4e706c = L.marker(
                [40.451385,-3.693571],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_a8928bf137c44f2a8cc7b2110c87e73a = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_09eb5da5e0264cbd977e1fd1dc4e706c.setIcon(icon_a8928bf137c44f2a8cc7b2110c87e73a);
            
    
            var popup_4c6a3117802647248706bef21d72795a = L.popup({maxWidth: '300'});

            
                var html_eaaaa41274c14f7daf982e2ec998ff10 = $('<div id="html_eaaaa41274c14f7daf982e2ec998ff10" style="width: 100.0%; height: 100.0%;">Holiday Inn Madrid - Bernabeu</div>')[0];
                popup_4c6a3117802647248706bef21d72795a.setContent(html_eaaaa41274c14f7daf982e2ec998ff10);
            

            marker_09eb5da5e0264cbd977e1fd1dc4e706c.bindPopup(popup_4c6a3117802647248706bef21d72795a);

            
        
    

            var marker_3fa8f4dc97b84e04983d64d7ab3cb1ba = L.marker(
                [40.458774,-3.690931],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_2535b02ce30c4cb3b4436281e5240b41 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3fa8f4dc97b84e04983d64d7ab3cb1ba.setIcon(icon_2535b02ce30c4cb3b4436281e5240b41);
            
    
            var popup_437d61b6710f4a80badd25ee9d640329 = L.popup({maxWidth: '300'});

            
                var html_01de338f18ed4b52985614bc0c63fa5b = $('<div id="html_01de338f18ed4b52985614bc0c63fa5b" style="width: 100.0%; height: 100.0%;">AC Hotel by Marriott Cuzco</div>')[0];
                popup_437d61b6710f4a80badd25ee9d640329.setContent(html_01de338f18ed4b52985614bc0c63fa5b);
            

            marker_3fa8f4dc97b84e04983d64d7ab3cb1ba.bindPopup(popup_437d61b6710f4a80badd25ee9d640329);

            
        
    

            var marker_685da2b994d947d58815f01a65012120 = L.marker(
                [40.4383468,-3.7008489],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_ab79fa96d11a491a8470e7354a2055ce = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_685da2b994d947d58815f01a65012120.setIcon(icon_ab79fa96d11a491a8470e7354a2055ce);
            
    
            var popup_f0307eb598a241c89200d9f3c340ddb1 = L.popup({maxWidth: '300'});

            
                var html_9c4636834c3b485e9c343fa2f150c665 = $('<div id="html_9c4636834c3b485e9c343fa2f150c665" style="width: 100.0%; height: 100.0%;">Tryp Madrid Chamberí</div>')[0];
                popup_f0307eb598a241c89200d9f3c340ddb1.setContent(html_9c4636834c3b485e9c343fa2f150c665);
            

            marker_685da2b994d947d58815f01a65012120.bindPopup(popup_f0307eb598a241c89200d9f3c340ddb1);

            
        
    

            var marker_168138fdc1b14ad5be25048068ac4240 = L.marker(
                [40.4307691,-3.7077407],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_13df48b035a4486a9aecc2ffcb489448 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_168138fdc1b14ad5be25048068ac4240.setIcon(icon_13df48b035a4486a9aecc2ffcb489448);
            
    
            var popup_0653f61028414f3c8760def684546a1c = L.popup({maxWidth: '300'});

            
                var html_8f60c16c46ee4032a5ffd46ca5484fab = $('<div id="html_8f60c16c46ee4032a5ffd46ca5484fab" style="width: 100.0%; height: 100.0%;">Sercotel Gran Hotel Conde Duque</div>')[0];
                popup_0653f61028414f3c8760def684546a1c.setContent(html_8f60c16c46ee4032a5ffd46ca5484fab);
            

            marker_168138fdc1b14ad5be25048068ac4240.bindPopup(popup_0653f61028414f3c8760def684546a1c);

            
        
    

            var marker_2c5bef026ede41eb9281a59a5a224e93 = L.marker(
                [40.4558636,-3.6896836],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_66c1f702dd754a798cd17de7193c1606 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2c5bef026ede41eb9281a59a5a224e93.setIcon(icon_66c1f702dd754a798cd17de7193c1606);
            
    
            var popup_6d3903bee4374dd6b28fd5f1730abbbd = L.popup({maxWidth: '300'});

            
                var html_652232206d624ad69fdee6fa886040eb = $('<div id="html_652232206d624ad69fdee6fa886040eb" style="width: 100.0%; height: 100.0%;">AC Hotel by Marriott Aitana</div>')[0];
                popup_6d3903bee4374dd6b28fd5f1730abbbd.setContent(html_652232206d624ad69fdee6fa886040eb);
            

            marker_2c5bef026ede41eb9281a59a5a224e93.bindPopup(popup_6d3903bee4374dd6b28fd5f1730abbbd);

            
        
    

            var marker_670c9f79994447ed9172a5bafe38a4e5 = L.marker(
                [40.424743,-3.714908],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_fcda9abf516943418eafa0ffbd8a942d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_670c9f79994447ed9172a5bafe38a4e5.setIcon(icon_fcda9abf516943418eafa0ffbd8a942d);
            
    
            var popup_ff96adae4af04455b3dab4c7e04cd860 = L.popup({maxWidth: '300'});

            
                var html_b0c1fd6080c64bf5be85a2a8c7a47616 = $('<div id="html_b0c1fd6080c64bf5be85a2a8c7a47616" style="width: 100.0%; height: 100.0%;">Sercotel Suites Viena</div>')[0];
                popup_ff96adae4af04455b3dab4c7e04cd860.setContent(html_b0c1fd6080c64bf5be85a2a8c7a47616);
            

            marker_670c9f79994447ed9172a5bafe38a4e5.bindPopup(popup_ff96adae4af04455b3dab4c7e04cd860);

            
        
    

            var marker_2c2d65ce98454ac89fbbefcdf0d81d76 = L.marker(
                [40.420992,-3.721278],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_16139f8f7ec04700a54530083c63bc7d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2c2d65ce98454ac89fbbefcdf0d81d76.setIcon(icon_16139f8f7ec04700a54530083c63bc7d);
            
    
            var popup_5e74bf400afc444581b49bee4fd93fbd = L.popup({maxWidth: '300'});

            
                var html_211b14c91094421387671e70d75ab35c = $('<div id="html_211b14c91094421387671e70d75ab35c" style="width: 100.0%; height: 100.0%;">Hotel City House Florida Norte</div>')[0];
                popup_5e74bf400afc444581b49bee4fd93fbd.setContent(html_211b14c91094421387671e70d75ab35c);
            

            marker_2c2d65ce98454ac89fbbefcdf0d81d76.bindPopup(popup_5e74bf400afc444581b49bee4fd93fbd);

            
        
    

            var marker_f5a42b9f8f984f358ef6bb6bdfb4c619 = L.marker(
                [40.4383825,-3.695182],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_a35fa7f80a444085ba6e2c806b3f767d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f5a42b9f8f984f358ef6bb6bdfb4c619.setIcon(icon_a35fa7f80a444085ba6e2c806b3f767d);
            
    
            var popup_d97ae8197d2f4c44a6ccd5da7c043ecb = L.popup({maxWidth: '300'});

            
                var html_255ad7cdced54c7498d8332540ee4b82 = $('<div id="html_255ad7cdced54c7498d8332540ee4b82" style="width: 100.0%; height: 100.0%;">NH Collection Madrid Abascal Hotel</div>')[0];
                popup_d97ae8197d2f4c44a6ccd5da7c043ecb.setContent(html_255ad7cdced54c7498d8332540ee4b82);
            

            marker_f5a42b9f8f984f358ef6bb6bdfb4c619.bindPopup(popup_d97ae8197d2f4c44a6ccd5da7c043ecb);

            
        
    

            var marker_81fc991d3b7e48858470ad5b66909d68 = L.marker(
                [40.4115165,-3.7076445],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_a2b204e6486f41b39121b255d8d6980e);
            
    

                var icon_8b846d90b65448e5a1d3e19f9b02898d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_81fc991d3b7e48858470ad5b66909d68.setIcon(icon_8b846d90b65448e5a1d3e19f9b02898d);
            
    
            var popup_90e37877b4c34448bd876440a3fd024d = L.popup({maxWidth: '300'});

            
                var html_d6cd49768969468ab6d5bb38cdbd8c76 = $('<div id="html_d6cd49768969468ab6d5bb38cdbd8c76" style="width: 100.0%; height: 100.0%;">Centro</div>')[0];
                popup_90e37877b4c34448bd876440a3fd024d.setContent(html_d6cd49768969468ab6d5bb38cdbd8c76);
            

            marker_81fc991d3b7e48858470ad5b66909d68.bindPopup(popup_90e37877b4c34448bd876440a3fd024d);

            
        
</script>